# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Game.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projet S2\ProjetS2\Unity\Game\.idea\.idea.Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
